.padding-mockup {
	padding-left: 140px;
	padding-right: 140px;
	margin: 0px;
}
.padding-nav-bar {
	padding-top: 39px;
	padding-bottom: 35px;
}
.nav-bar-title {
	margin: 0px;
	background-image: linear-gradient(to top, #c9c0bb, #ffffff), linear-gradient(to bottom, #ffffff, #ffffff);
	font-family: Arial;
	font-size: 40.5px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -1.62px;
	text-align: left;
	color: #ffffff;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.be-white {
	color: white;
}
.be-blue {
	color: #1eafb5;
}
.hello-title {
	font-size: 60px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.93;
	letter-spacing: -3px;
	text-align: left;
}
.subtitle {
	font-size: 38.5px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.45;
	letter-spacing: normal;
	text-align: left;
}
.content-carousel {
	height: 350px;
}

#carouselExampleCaptions {
	height: 90%;
}

.padding-top-text {
	padding-top: 10px;
}






























